{% extends "base/base.html" %}
{% load staticfiles %}
{% block banner %}
{% endblock banner %}
{% block welcome %}

				<div class="clearfix"> </div>
			</div>
			<div class="content">
				<!-- banner -->

				<!-- //banner -->
				<!-- properties --> 
				<div class="w3agile properties">   
					<div class="properties-img properties-img-single">
						<img src="{% static 'images/3.jpg' %}" alt="">
						<div class="view-caption">
							<h4><span class="glyphicon glyphicon-map-marker"></span> Hotel Altagracia</h4>  
						</div> 
					</div>
{% endblock welcome %}
{% block properties %}
						
										
					<div class="w3ls-details">   
						<h4>Descripción</h4> 
						<p class="agile-text">Uno de los mejores hoteles para hospedajes y estadías, con el mejor servicio al cliente.</p>
						<div class="w3ls-text">
							<h4>Detalles</h4>  
							<p><b>Precio :</b> $1500 k </p>
							<p><b>Área :</b> 2,145 sq.ft </p>
							<p><b>Habitaciones :</b> 3 </p>
							<p><b>Parque :</b> 2 </p>
						</div>
					</div>
					<div class="w3ls-features">   
						<h3 class="w3ls-title">Características</h3> 
						<ul> 
							<li><span class="glyphicon glyphicon-ok"> </span> Estacionamiento </li>
							<li><span class="glyphicon glyphicon-ok"> </span> Guardias</li>
							<li><span class="glyphicon glyphicon-ok"> </span> Habitaciones climatizadas</li>
							<li><span class="glyphicon glyphicon-ok"> </span> Restaurante</li>
							<li><span class="glyphicon glyphicon-ok"> </span> Área de Recreamiento</li>
							<li><span class="glyphicon glyphicon-ok"> </span> Piscina</li>
							<li><span class="glyphicon glyphicon-ok"> </span> Salones de Eventos</li>
						</ul>
					</div>
					<div class="w3ls-related">   
						<h3 class="w3ls-title">Habitaciones y Suites</h3>
						<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
							<!-- Wrapper-for-Slides -->
							<div class="carousel-inner" role="listbox"> 
								<!-- First-Slide -->
								<div class="item active">
									<div class="properties-img">
										<img src="{% static 'images/3.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> Broome St, Canada, USA </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html">Buy</a> 
										</div>
									</div>
								</div> 
								<!-- Second-Slide -->
								<div class="item">  
									<div class="properties-img">
										<img src="{% static 'images/1.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> 512B St, Missouri, USA </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html">Buy</a> 
										</div>
									</div>
								</div> 
								<!-- Third-Slide -->
								<div class="item">
									<div class="properties-img">
										<img src="{% static 'images/2.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> Lenexa, KS 66215 USA </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html">Buy</a> 
										</div>
									</div>
								</div> 
							</div> 
							<!-- Left-Button -->
							<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> 
							<!-- Right-Button -->
							<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a> 
						</div>
				
					</div>
					</div>
					</div>


{% endblock properties %}