{% extends "base/base.html" %}
{% load staticfiles %}
{% block banner %}
{% endblock banner %}
{% block welcome %}
{% endblock welcome %}
{% block properties %}
			<div class="clearfix"></div>
				<div class="w3agile properties">   
					<div class="properties-img properties-img-single">
						<img src="{% static 'images/3.jpg' %}" alt="">
						<div class="view-caption">
							<h4><span class="glyphicon glyphicon-map-marker"></span> Petropar </h4>  
						</div> 
					</div>
					<div class="w3ls-details">   
						<h4>Descripcion</h4> 
						<p class="agile-text">Lorem Ipsum has been industry's dummy text ever standard remember when your team is playing. Sed porta magna vitae nisl lacinia orbi malesuada sollic itudin . </p>
						<div class="w3ls-text">
							<h4>Precios</h4>  
							<p><b>Nafta :</b> $1500 k </p>
							<p><b>Gasoil :</b> $1500 k </p>
							<p><b>Nafta Super :</b> $1500 k </p>
							<p><b>Diesel podium :</b> $1500 k </p>
						</div>
					</div>
					<div class="w3ls-features">   
						<h3 class="w3ls-title">Caracteristicas</h3> 
						<ul> 
							<li><span class="glyphicon glyphicon-ok"> </span> Estacionamiento controlado </li>
							<li><span class="glyphicon glyphicon-ok"> </span> Mini Shop </li>
							<li><span class="glyphicon glyphicon-ok"> </span> Comidas Rapidas </li>
							<li><span class="glyphicon glyphicon-ok"> </span> Calibre de ruedas </li>
							<li><span class="glyphicon glyphicon-ok"> </span> Hielo </li>
						</ul>
					</div>
					<div class="w3ls-related">   
						<h3 class="w3ls-title">Petropar</h3>
						<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
							<!-- Wrapper-for-Slides -->
							<div class="carousel-inner" role="listbox"> 
								<!-- First-Slide -->
								<div class="item active">
									<div class="properties-img">
										<img src="{% static 'images/3.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> Petropar </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html"> Ir </a> 
										</div>
									</div>
								</div> 
								<!-- Second-Slide -->
								<div class="item">  
									<div class="properties-img">
										<img src="{% static 'images/1.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> Petropar </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html">Buy</a> 
										</div>
									</div>
								</div> 
								<!-- Third-Slide -->
								<div class="item">
									<div class="properties-img">
										<img src="{% static 'images/2.jpg' %}" alt="">
										<div class="view-caption">
											<h4><span class="glyphicon glyphicon-map-marker"></span> Petropar </h4>  
										</div>
										<div class="w3ls-buy">
											<a href="single.html">Buy</a> 
										</div>
									</div>
								</div> 
							</div> 
							<!-- Left-Button -->
							<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> 
							<!-- Right-Button -->
							<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a> 
						</div>
						<script src="js/custom.js"></script> 
					</div>
					
					</div>
				</div>
{% endblock properties %}
