{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
	

				<!-- //banner -->
				<!-- welcome -->
				<div class="welcome"> 
					<h3 class="w3ls-title">Hoteles y Moteles </h3> 
					<p class="w3title-text">Encuentra tu lugar en Caacupé </p>
					<div class="welcome-info">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

							<div class="clearfix"> </div>
 

						</div>  
					</div>  	
				</div> 
				<!-- //welcome -->
				<!-- properties -->
				<div class="w3agile properties">
		
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/3.jpg' %}" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Hotel Asunción </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div> 
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/2.jpg' %}" alt="">
							<div class="view-caption rent-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span>Hotel Alta Gracia</h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/1.jpg' %}" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Hotel Katy María </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/2.jpg' %}" alt="">
							<div class="view-caption rent-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span>Hotel Copadísimo </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/1.jpg' %}" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Hotel Uruguayo </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/2.jpg' %}" alt="">
							<div class="view-caption rent-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Motel 59 </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b></p>
							<p><b>Precios</b></p>
						</div>
					</div>

					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/1.jpg' %}" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Motel Piscis </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/2.jpg' %}" alt="">
							<div class="view-caption rent-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Motel Carpediem </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b> </p>
							<p><b>Precios</b> </p>
						</div>
					</div>

					<div class="properties-bottom">
						<div class="properties-img">
							<img src="{% static 'images/1.jpg' %}" 	alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Hotel Mirador </h4>  
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html"> Ver </a></h5>
							<p><b>Descripción</b></p>
							<p><b>Ubicación</b></p>
							<p><b>Precios</b></p>
						</div>
					</div>
{% endblock content %}
{% block footer %}
	
{% endblock footer %}
